# Jetbrains
/*.iml
/.idea

# Bearsampp
/.dev

# Visual Studio
.vscode/
.vs/
.vsc/

# ignore "current" directories
/**/current

.qodo

# Qodo
/.qodo

# Gradle
.gradle/
build/
.gradle-cache/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties
