<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Ant launch configuration is deprecated. Use Gradle tasks instead. -->
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
  <stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${workspace_loc:/module-mysql/gradlew.bat}"/>
  <stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${workspace_loc:/module-mysql}"/>
  <stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="release"/>
  <listAttribute key="org.eclipse.debug.ui.favoriteGroups">
    <listEntry value="org.eclipse.ui.externaltools.launchGroup"/>
  </listAttribute>
</launchConfiguration>
